{% extends 'pkflibrary/book/book_list.html.twig '%}

{% block stylesheets %}
    {{parent()}}
    <style>
    .error_right{
        color:red;
        font-family:andalus;
        font-weight:;
        font-size:15px;
        float:right;
     }

     .error_left{
        color:red;
        font-family:andalus;
        font-weight:;
        font-size:15px;
     }
  </style>
{% endblock %}

{% block status %}
  <li><a href="" style="color:blue">Management   /   Category Management</a></li>
{% endblock %}

{% block menu %}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="font-weight:bold">
            <li>
                <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home</a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Management <b class="caret"></b></a>
                    <ul class="dropdown-menu"  >
                        <li>
                         <a href="{{ path('AdminUserEnableList',{'page': 1}) }}" style="font-family:calibri"> <i class="fa fa-user"></i> User Management</a>
                     </li>
                     <li>
                        <a href="{{ path('manageBorrows') }}" style="font-family:calibri" > <i class="fa fa-book"></i> Borrow Management</a>
                    </li>
                    <li class="active">
                        <a href="{{ path('categoryList') }}" style="font-family:calibri" > <i class="fa fa-navicon"></i> Category Management</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> My Account <b class="caret"></b></a>
            <ul class="dropdown-menu"  >
                <li>
                    <a href="{{ path('borrow', {'userId': app.user.id, 'bookId':-1}) }}" style="font-family:calibri"> <i class="fa fa-book"></i> Borrow Report </a>
                </li>
               <li>
                  <a href="{{ path('UserDetail',{'id': app.user.Id ,'page': 1}) }}" style="font-family:calibri"><i class="fa fa-user"></i> My Personal data</a>
               </li>

           </ul>
       </li>
        <li>
            <a href="{{ path('about') }}">About</a>
        </li>
        <li>
            <a href="{{ path('help') }}">Help</a>
        </li>
        <li>
           <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
       </li>
   </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock %}


{% block body %}
  {% block searchAdd %}
     <a id="addCategoryButton" class="btn btn-default" style="float:right; margin-right:0px; margin-bottom:30px; font-family:calibri"><i class="fa fa-plus"></i> Add Category</a>
     <a class="btn btn-default" id="addSubCategoryButton" style="float:left; margin-right:0px; margin-bottom:30px; font-family:calibri"><i class="fa fa-plus" ></i> Add Subcategory </a>
    {% endblock %}
  <!-- Advanced Tables -->
  <div class="panel panel-default" style="margin-top:4%; font-family:calibri">
    <div class="panel-heading" style="text-align:center; font-weight:bold">
      Category Management
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Category Code</th>
              <th>Category Name</th>
              <th style="text-align:center">Actions</th>
            </tr>
          </thead>
          <tbody>
          <script type="text/javascript" src="{{asset('assets/js/jquery.js')}}"></script> 
          <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" />
          {% for category in categories %}
            <tr class="odd gradeX">
              <td style="color:blue; font-size:18px" id="{{category.categoryCode}}">{{category.categoryCode}}</td>
              <td style="color:blue; font-size:18px" id="{{category.categoryName}}">{{category.categoryName}}</td>
              <td class="center" style="text-align:center">
                <button class="btn btn-primary" id="editCategory{{category.categoryCode}}"><i class="fa fa-refresh"></i> Edit</button>
                <button class="btn btn-danger" id="deleteCategory{{category.categoryCode}}">Delete</button>
              </td>
            </tr>
            {% for subcategory in category.subcategories %}
              <tr class="even gradeC">
                 <td>{{subcategory.subCategoryCode}}</td>
                 <td>{{subcategory.subCategoryName}}</td>
                 <td class="center" style="text-align:center">
                <button class="btn btn-primary" id="editSubCategory{{subcategory.subCategoryCode}}"><i class="fa fa-refresh"></i> Edit</button>
                <button class="btn btn-danger" id="deleteSubCategory{{subcategory.subCategoryCode}}">Delete</button>
                 </td>
                </tr>

                <script>
                   $(function() {
                        $("#dataTables-example").on("click", "#editSubCategory{{subcategory.subCategoryCode}}", function(){
                        //$('#editSubCategory{{subcategory.subCategoryCode}}').click(function() {
                        //$('#myModalLabelAddSubCategory').val("Edit Subcategory");
                        document.getElementById("myModalLabelAddSubCategory").innerHTML = "Edit Subcategory";
                        $('#appbundle_category_subCategoryCode').val("{{subcategory.subCategoryCode}}");
                        document.getElementById('appbundle_category_subCategoryCode').readOnly = true;
                        $('#appbundle_category_subCategoryName').val("{{subcategory.subCategoryName}}");
                        $('#appbundle_category_category').val("{{subcategory.category.categoryCode}}");
                        
                        $('#myModalAddSubCategory').modal('show');
                      });
                        $("#dataTables-example").on("click", "#deleteSubCategory{{subcategory.subCategoryCode}}", function(){
                        //$('#deleteSubCategory{{subcategory.subCategoryCode}}').click(function() {
                          $('#form_subCategoryCode').val("{{subcategory.subCategoryCode}}");
                          $('#form_subCategoryName').val("{{subcategory.subCategoryName}}");
                          document.getElementById('form_subCategoryCode').readOnly = true;
                          document.getElementById('form_subCategoryName').readOnly = true;
                          $('#myModalDeleteSubCategory').modal('show');
                        });
                   });
                </script>
            {% endfor %}
                        
            <script>
              $(function() {
                $("#dataTables-example").on("click", "#editCategory{{category.categoryCode}}", function(){
                  document.getElementById("myModalLabelAddCategory").innerHTML = "Edit category";
                //$('#editCategory{{category.categoryCode}}').click(function() {
                  $('#appbundle_category_categoryCode').val("{{category.categoryCode}}");
                  $('#appbundle_category_categoryName').val("{{category.categoryName}}");
                  document.getElementById('appbundle_category_categoryCode').readOnly = true;
                  $('#myModalAddCategory').modal('show');
                              }); 
                 $("#dataTables-example").on("click", "#deleteCategory{{category.categoryCode}}", function(){
                 //$('#deleteCategory{{category.categoryCode}}').click(function() {
                  $('#form_categoryCode').val("{{category.categoryCode}}");
                  $('#form_categoryName').val("{{category.categoryName}}");
                  document.getElementById('form_categoryCode').readOnly = true;
                  document.getElementById('form_categoryName').readOnly = true;
                  $('#myModalDeleteCategory').modal('show');
                  });
              });
            </script>
          {% endfor %}
            
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <!--End Advanced Tables -->

    <div class="modal fade" id="myModalAddCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddCategory" aria-hidden="true" style="margin-top:15%; font-family:calibri">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelAddCategory" style="text-align:center; color:blue">Add Category</h4>
              </div>
              {{form_start(form)}}
              <div class="modal-body row" style="text-align:center">
                  <div class="" style="font-family:calibri; margin-top:0"> 
                  <table width="100%" style="border-spacing:15px 0px; border-collapse:separate"> 
                  <tr> <th>{{ form_label(form.categoryCode) }}</th> </tr>
                  <tr> <td>{{ form_widget(form.categoryCode) }}</td> </tr>
                  <tr class="error_left"> <td>{{ form_errors(form.categoryCode) }}</td> </tr>
                  <tr> <th> {{ form_label(form.categoryName) }} </th> </tr>
                  <tr> <td>{{form_widget(form.categoryName)}}</td> </tr>
                  <tr class="error_left"> <td>{{ form_errors(form.categoryName) }}</td> </tr>
                  </table>                  
                </div> 
              </div>
              <div class="modal-footer">
                <table width="20%" style="border-spacing:5px 0px; border-collapse:separate; margin:auto"> 
                  <tr>
                    <td>{#<input class="form-control" id="submit" style="font-weight:bold; color:white; background-color:#20B2AA; margin-bottom:0px" type="submit" value="{{ 'Borrow'|trans }}" />#}{{form_widget(form.submit)}}</td>
                    {#<td><a class="btn btn-default " data-dismiss="modal" style=" margin-bottom:0px "> cancel </a></td>#}
                 </tr>
               </table>
              </div>
              {{form_end(form)}}
            </div>
          </div>
        </div>

        <div class="modal fade" id="myModalDeleteCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDeleteCategory" aria-hidden="true" style="margin-top:15%; font-family:calibri">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelDeleteCategory" style="text-align:center; color:blue">Delete Category</h4>
              </div>
              {{form_start(form3)}}
              <div class="modal-body row" style="text-align:center">
                  <div class="" style="font-family:calibri; margin-top:0"> 
                  <table width="100%" style="border-spacing:15px 0px; border-collapse:separate"> 
                    <tr><th>{{ form_label(form3.categoryCode) }}</th></tr>
                    <tr><td>{{ form_widget(form3.categoryCode) }}</td></tr>
                    <tr><th>{{ form_label(form3.categoryName) }}</th></tr>
                    <tr><td>{{form_widget(form3.categoryName)}}</td></tr>
                  </table>             
                </div> 
              </div>
              <div class="modal-footer">
                <table width="20%" style="border-spacing:5px 0px; border-collapse:separate; margin:auto"> 
                  <tr>
                    <td>{#<input class="form-control" id="submit" style="font-weight:bold; color:white; background-color:#20B2AA; margin-bottom:0px" type="submit" value="{{ 'Borrow'|trans }}" />#}{{form_widget(form3.submit)}}</td>
                    {#<td><a class="btn btn-default " data-dismiss="modal" style=" margin-bottom:0px "> cancel </a></td>#}
                 </tr>
               </table>
              </div>
              {{form_end(form3)}}
            </div>
          </div>
        </div>

        <div class="modal fade" id="myModalAddSubCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddSubCategory" aria-hidden="true" style="margin-top:15%; font-family:calibri">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelAddSubCategory" style="text-align:center; color:blue; font-weight:bold">Add Subcategory</h4>
              </div>
              {{form_start(form4)}}
              <div class="modal-body row" style="text-align:left">
                  <div class="" style="font-family:'calibri'; margin-top:0"> 
                  <table width="100%" style="border-spacing:15px 0px; border-collapse:separate"> 
                      <tr><td>{{ form_label(form4.subCategoryCode) }}</td></tr>
                      <tr><td>{{ form_widget(form4.subCategoryCode) }}</td></tr>
                      <tr class="error_left"><td>{{ form_errors(form4.subCategoryCode) }}</td></tr>
                      <tr><td> {{ form_label(form4.subCategoryName) }} </td></tr>
                      <tr><td>{{form_widget(form4.subCategoryName)}}</td></tr>
                      <tr class="error_left"><td>{{ form_errors(form4.subCategoryName) }}</td></tr>
                      <tr><td> {{ form_label(form4.category) }} </td></tr>
                      <tr><td>{{form_widget(form4.category)}}</td></tr>
                      <tr class="error_left"><td>{{ form_errors(form4.category) }}</td></tr>
                  </table>                  
                </div> 
              </div>
              <div class="modal-footer">
                <table width="20%" style="border-spacing:5px 0px; border-collapse:separate; margin:auto"> 
                  <tr>
                    <td>{#<input class="form-control" id="submit" style="font-weight:bold; color:white; background-color:#20B2AA; margin-bottom:0px" type="submit" value="{{ 'Borrow'|trans }}" />#}{{form_widget(form4.submit)}}</td>
                    {#<td><a class="btn btn-default " data-dismiss="modal" style=" margin-bottom:0px "> cancel </a></td>#}
                 </tr>
               </table>
              </div>
              {{form_end(form4)}}
            </div>
          </div>
        </div>

        <div class="modal fade" id="myModalDeleteSubCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDeleteSubCategory" aria-hidden="true" style="margin-top:15%; font-family:calibri">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelDeleteSubCategory" style="text-align:center; color:blue">Delete Subcategory</h4>
              </div>
              {{form_start(form5)}}
              <div class="modal-body row" style="text-align:center">
                  <div class="" style="font-family:calibri; margin-top:0"> 
                  <table width="100%" style="border-spacing:15px 0px; border-collapse:separate"> 
                  <tr><th>{{ form_label(form5.subCategoryCode) }}</th></tr>
                  <tr><td>{{ form_widget(form5.subCategoryCode) }}</td></tr>
                  <tr><th>{{ form_label(form5.subCategoryName) }}</th></tr>
                  <tr><td>{{form_widget(form5.subCategoryName)}}</td></tr>
                  </table>             
                </div> 
              </div>
              <div class="modal-footer">
                <table width="20%" style="border-spacing:5px 0px; border-collapse:separate; margin:auto"> 
                  <tr>
                    <td>{#<input class="form-control" id="submit" style="font-weight:bold; color:white; background-color:#20B2AA; margin-bottom:0px" type="submit" value="{{ 'Borrow'|trans }}" />#}{{form_widget(form5.submit)}}</td>
                    {#<td><a class="btn btn-default " data-dismiss="modal" style=" margin-bottom:0px "> cancel </a></td>#}
                 </tr>
               </table>
              </div>
              {{form_end(form5)}}
            </div>
          </div>
        </div>


{% endblock %}

{% block pagination %}
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script>
  $('#dataTables-example').dataTable(
  {
     "bSort" : false
  });
  $('#addSubCategoryButton').click(function() {
    document.getElementById("myModalLabelAddSubCategory").innerHTML = "Add Subcategory";    
    $('#myModalAddSubCategory').modal('show');    
  });
  $('#addCategoryButton').click(function() {
    document.getElementById("myModalLabelAddCategory").innerHTML = "Add category";    
    $('#myModalAddCategory').modal('show');    
  });
  </script>
{% endblock %}