{% extends 'pkflibrary/user/adminUserEnableList.html.twig '%}

{% block status %}
    <li><a class="active" href="#" style="color:black">Management / User Management / {{user.username}} </a>
    </li>
{% endblock %}

{% block content %}

<!-- Projects Row -->
        <div class="row">
            
            
            <div class="col-md-7 img-portfolio" >
                {#<a href=" {{ path('adminUserList',{'page': page}) }}">#}
					                  
                        <img class="img-responsive img-hover"  width="400px" height="600px" src="{{ asset(user.image.uploadDir ~ '/' ~ user.image.id ~ '.' ~ user.image.url) }}" 
                             alt="{{ user.image.alt }}" style="margin-bottom:5px;"
                         />
                  </div>            
					
            
            <div class="col-md-5 dariusDiv" style="border-radius: 1; font-family:calibri">

               <p> Name : <span class="dariusSpan">{{user.familyName}} {{user.firstName}} </span> </p>
               <p> Username : <span class="dariusSpan">{{user.username}}</span> </p>
               <p> Email : <span class="dariusSpan">{{user.email}}</span> </p>
               <p> Phone number : <span class="dariusSpan">{{user.phoneNumber}} </span> </p>
               <p> Adress: <span class="dariusSpan">{{user.address}}  </span> </p>
               <p> User Category: <span class="dariusSpan">{{user.userCategory}} </span> </p>
               <p> Batch: <span class="dariusSpan">{{user.batch}} </span> </p>
               <p> Specialty: <span class="dariusSpan">{{user.specialty}} </span> </p>
                
                <a class="btn btn-default" href="{{ path('editUser',{'id':user.Id})}}"><i class="fa fa-edit"></i> Edit</a>
                {% if user.enabled == false %}
                   <a class="btn btn-success" onclick= "disabled" href="{{path('AdminUserEnabled',{'id':user.Id,'page': page})}}" >Enable</a>
                {% else %}
                    <a class="btn btn-default" onclick= "disabled" href="{{path('AdminUserDisable',{'id':user.Id,'page': page})}}" style="background-color:black; color:white">Disable</i> </a>
                {% endif %}
                <a class="btn btn-danger" data-toggle="modal" data-target="#myModalDeleteUser"><i class="fa fa-remove"></i> Delete</a>

            </div>
             
            {% if user.enabled == false %}
                   <a class="btn btn-default" style = "float:right; margin-top:1%; font-weight:bold; color:blue" href="{{ path('AdminUserDisableList',{'page': 1}) }}" >Back to list</a>
                {% else %}
                   <a class="btn btn-default" style = "float:right; margin-top:1%; font-weight:bold; color:blue" href="{{ path('AdminUserEnableList',{'page': 1}) }}" > <i class="fa fa-back"></i> Back to list</a>
            {% endif %}
            
        </div>
        <!-- /.row -->		

        <div class="modal fade" id="myModalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:15%">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelDeleteUser" style="text-align:center; color:blue">{{user.familyName}} {{user.firstName}}</h4>
              </div>
              <div class="modal-body row" style="">
                  <div class="" style="font-family:calibri; margin-top:0">  
                  <p style="text-align:center; font-size:20px">Are you sure to detele?</p>
                </div> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="{{ path('deleteUser',{'id': user.id}) }}" class="btn btn-danger" style="float:right">Delete</a>
              </div>
            </div>
          </div>
        </div>
		
{% endblock %}

{% block footer %}
   <div class="row" style="position: fixed; bottom: 0; width:100%;margin-top:20px;">
     <center>
        <p style="font-weight:bold;color:white;background-color: black;margin:0; margin-right:-10%;height:70px;padding-top: 30px;">Copyright &copy; PKFokam Institute Of Excellence</p>
    </center>
</div>
{% endblock %}

{% block pagination %}
{% endblock %}